
form {
  margin-bottom: 1rem;
}

form input[type="submit"] {
  margin: 0;
}

table {
  font-size: 12px;
  margin-bottom: 1rem;
}

table input[type="text"] {
  margin: 0;
  height: auto;
  max-width: 50px;
}

canvas {
  border-radius: 4px;
  border: 1px solid #bbb;
}
